$screen-m: "(max-width: 944px)";
$screen-s: "(max-width: 720px)";
$screen-s-max: "(min-width: 720px)";
$screen-s-min: "(max-width: 600px)";

* {
    padding: 0;
    margin: 0;
}
.hide {
    display: none;
}

  body {
      font-family: "Muli", sans-serif;
    font-size: 10px;
    line-height: normal;
    background-color: #013b3e;
    overflow: hidden;
}
  
  #wrapper {
    max-width: 1700px;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
    width: 1000px;
    @media #{$screen-m} {
        width: 100%;
    }
    @media (min-width: 720px) and (max-width: 1000px) {
        width: 90%;
    }
  }
  .container, .block {
    // max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    // position: relative;
  }
  $leftPos : 55%;
  $topPosBits: 20%;

  .btns {  
    top: calc(#{$topPosBits} + 2% + 200px);
    left: $leftPos;
    position: absolute;

    @media #{$screen-s} {
        // left: calc(50% - 150px);
        // top: calc(4% + 2% + 200px);
        display: block;
        position: static;
        margin: 0 auto;
        width: 280px;
    }
      button {
        font-weight: 300;
        text-transform: uppercase;
        padding: 8px;
        display: block;
        width: 250px;
        border: 0;
        border-radius: 10px;
        background-color: #c5ded6;
      }
  }
  .btns button {
    font-weight: 800;
    color: #013B3E;
    font-size: 16px;
    /* opacity: 0.5; */
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 8px;
    display: block;
    width: 280px;
    border: 0;
    margin-top: 25px;
    border-radius: 5px;
    background-color: white;
    letter-spacing: 2px;
    cursor: crosshair;
    &:hover {
        box-shadow: 0px 0px 0px 0px rgba(73,163,166,1);
        animation: shadow-blur 2s linear both infinite;
    }
    @media #{$screen-s-min} {
        font-size: 16px;
        margin: 10px;
        transform: scale(0.8);
    }
    @media #{$screen-m} {
        transform: scale(0.8);
        margin: 10px;
    }
  }

  .btns.restart {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: static;
    button {
        margin: 25px auto;
    }
  }
  #discount #animation-fin {
      width: 40%;
      margin: 80px auto 49px;
  }
$h: 600;
  p.text {
    color: white;
    font-size: 28px;
    display: inline-block;
    width: 45%;
    line-height: 42px;
    height: 600px;
    overflow: hidden;
    transform: translateY(-300px);
    margin-top: 54vh;
    @media #{$screen-m} {
        font-size: 22px;
        line-height: 33px;
    }
    @media #{$screen-s} {
        display: block;
        width: 90%;
        height: auto;
        margin: 0 auto;
        transform: translateY(0);
        margin-top: 250px;
    }
    @media #{$screen-s-min} {
        font-size: 16px;
    }
}

.animation-bg {
    opacity: 0.2;
    width: 70px;
    height: 100px;
    position: absolute;
    &:nth-of-type(1) {
        bottom: 6%;
        left: 100px;
        animation: 3.5s linear both infinite;
        animation-name: op-animation;
    }
    &:nth-of-type(2) {
        left: 17%;
        top: 4%;
        animation: 3.5s linear both infinite;
        animation-name: op-animation;
        animation-delay: 0.5s;
    }
    &:nth-of-type(3) {
        left: 10%;
        top: 60%;
        animation: 3.5s linear both infinite;
        animation-name: op-animation;
        animation-delay: 0.7s;
    }
    &:nth-of-type(4) {
        left: 28%;
        top: 75%;
        animation: 5s linear both infinite;
        animation-name: op-animation;
        animation-delay: 1.3s;
    }
    &:nth-of-type(5) {
        right: 12%;
        top: 11%;
        animation: 3.5s linear both infinite;
        animation-name: op-animation;
    }
    &:nth-of-type(6) {
        right: 44%;
        top: 2%;
        animation: 3.5s linear both infinite;
        animation-name: op-animation;
        animation-delay: 0.5s;
    }
    &:nth-of-type(7) {
        right: 10%;
        top: 60%;
        animation: 3.5s linear both infinite;
        animation-name: op-animation;
        animation-delay: 0.7s;
    }
    &:nth-of-type(8) {
        right: 35%;
        top: 82%;
        animation: 5s linear both infinite;
        animation-name: op-animation;
        animation-delay: 1.3s;
    }
}

#animation-bits {
    // padding-top: 10%; 
    width: 300px;
    height: 200px;
    position: absolute;
    top: $topPosBits;
    animation: bitsPulsing 2s linear both infinite;
    left: $leftPos;
    & > svg > g {
        transform: matrix(2.5, 0, 0, 2.5, -370, -375.4);
    }
    @media #{$screen-s} {
        left: calc(50% - 150px);
        top: 4%;
    }
    @media #{$screen-s-min} {
        top: 10%;
        height: 150px;
    }
}
#points {
    position: absolute;
    top: 6%;
    /* left: 5%; */
    font-size: 20px;
    text-transform: uppercase;
    color: red;
    font-weight: 800;
}


@keyframes bitsPulsing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes shadow-blur {
    0% {
        box-shadow: 0px 0px 10px 0px rgba(73,163,166,1);
    }
    50% {
        box-shadow: 0px 0px 10px 8px rgba(73,163,166,1);
    }
    100% {
        box-shadow: 0px 0px 10px 0px rgba(73,163,166,1);
    }
}
@keyframes op-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}